---
import Base from "../layouts/base.astro"
import Nav from "../components/nav.jsx";
import Form from "../components/signup.astro";

const pageTitle = "Sign Up!"
---
<Base pageTitle = {pageTitle}>
	<Nav client:load/>
	<div class="content">
		<Form />
	</div>
</Base>


../components/nav.js