---
import Base from "../layouts/base.astro"
import Nav from "../components/nav.jsx";
import Form from "../components/form.jsx";

const pageTitle = "Sign Up!"
---
<Base pageTitle = {pageTitle}>
	<Nav client:load/>
	<div class="content">
		<Form client:load/>
	</div>
</Base>


