---
import Base from "../layouts/base.astro"
import Nav from "../components/nav.jsx";
import Form from "../components/form.jsx";

const pageTitle = "Sign Up!"
---
<Base pageTitle = {pageTitle}>
	<Nav />
	<div class="content">
		<h2>Computer Science Camp </h2>
		<Form />
	</div>
</Base>


