---
if (Astro.request.method == "POST"){
    try{
        const data = await Astro.request.formData();
        const payload = Object.fromEntries(data);
        
        //send to backend
        sendToBackend(payload);

    } catch(err){
        if(err instanceof Error){
            console.error(err.message);
        }
    }
}

function sendToBackend(jsobj){
    console.log(jsobj);
}
---

<div class='form-container'>
    <h2>Computer Science Camp </h2>
    <form method="POST" onsubmit="alert('sent');">
        <label>Parent/Guardian's Full Name:</label>
        <input class="text-input" name="parentName" type="text" maxlength="50" required/>

        <label>Guardian Email:</label>
        <input class="text-input" name="email" type="email" placeholder="email@email.com" maxlength="100" required/>

        <label>Guardian Phone:</label>
        <input class="text-input" name="parentPhone" type="text" placeholder="xxx-xxx-xxxx" minlength="10" maxlength="12" required/>
        
        <label>Child's Full Name:</label>
        <input class="text-input" name="childName" type="text" maxlength="50" required/>
        
        <label>Child's Age:</label>
        <input class="text-input" name="childAge" type="text" min=9 maxlength="2" required/>
        

        <p>A laptop is needed for this camp.The library can provide one to those who need one, but there is a limited quantity.</p>
        <p>Will your child be able to bring their own laptop?</p>

        <label class ="radio-label"><input type="radio" value="Yes" name="laptop" required/>Yes</label>
        <label class ="radio-label"><input type="radio" value="No" name="laptop" checked required/>No</label>
        
        <button class= "submit-btn" type="submit">Submit</button>
    </form>      
</div>